@define-color mauve     #cba6f7;
@define-color text      #cdd6f4;
@define-color surface   #313244;
@define-color base      #1e1e2e;
* {
  font-family: "JetBrainsMono Nerd Font Propo";
}
#waybar {
  background-color: @base;
}
#custom-arch {
  color: @mauve;
}
#workspaces button {
  color: @text;
}
#workspaces button.active {
  color: @mauve;
}
#mpris {
  color: @mauve;
}
#clock {
  color: @mauve;
}
#custom-polycat {
  font-size: 25px;
  color: @mauve;
}
#pulseaudio {
  color: @mauve;
}
#network {
  color: @mauve;
}
#battery {
  color: @mauve;
}
#battery.charging {
  color: @text;
}
#power-profiles-daemon {
  color: @mauve;
}
#custom-power {
  color: @mauve;
}
tooltip {
  background-color: @base;
  border-color: @base;
}
tooltip label {
  color: @mauve;
}
